<div class="row" style="padding-top:0%;">
<div class="col"></div>
<div class="col-md-4">
<h1>Please Sign In</h1>
<%= form_tag sessions_path do %>
<%= text_field_tag :userid, nil, placeholder: 'Input User ID' %>
<%= password_field_tag :password, nil, placeholder: 'Input Password' %>
<%= submit_tag 'Sign In' %>
<% end %>

<p>
  <%= link_to 'Articles', articles_path, class:'btn btn-md btn-info' %>
  <%= link_to 'Home', welcome_index_path, class:'btn btn-md btn-primary' %>
</p>
</div>
<div class="col"></div>
</div>
