<div class="row" style="padding-top:0%;">
<div class="col"></div>
<div class="col-md-4">
<h1> <%= t('sign_in_page.please_sign') %> </h1>
<%= form_tag sessions_path do %>
<%= text_field_tag :userid, nil, placeholder: t('sign_in_page.input_id') %><br>
<%= password_field_tag :password, nil, placeholder: t('sign_in_page.input_password') %><br>
<%= submit_tag t('sign_in_page.sign_in') %>
<% end %>

<p>
  <%= link_to t('create_account_page.articles'), articles_path, class:'btn btn-md btn-info' %>
  <%= link_to t('create_account_page.home'), welcome_index_path, class:'btn btn-md btn-primary' %>
</p>
</div>
<div class="col"></div>
</div>
