<h2> <%= t('comment_page.comments')%> </h2>
  <% @article.comments.each do |comment| %>
  <p>
    <strong><%= t('comment_page.commenter')%></strong>
    <%= comment.commenter %>
  </p>
<p>
  <strong><%= t('comment_page.comment')%></strong>
  <%= comment.body %>
</p>

<p>
  <%= comment.created_at.strftime('%A %-b %-d, %Y | %l:%M %p') %>
</p>
<% if current_user && current_user.admin? %>
<p>
  <%= link_to t('comment_page.delete'), [comment.article, comment],
      class: 'btn btn-md btn-danger',
      method: :Delete,
      data: {confirm: t('articles_page.are_you_sure')} %>
</p>
<% end %>
<% end %>
