<div class="row" style="padding-top:10%;">
<div class="col"></div>
<div class="col-md-7">
<h1> <%= t('articles_page.create_new') %></h1>
<%= form_for :article, url: articles_path, html: {multipart: true} do |f| %>
<div class="field" style="100%;">
<!-- Checking for Errors -->
<%= render 'articles/error' %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title, class:'form-contol' %>
  </p>
  <p>
    <%= f.label :text %><br>
    <%= f.text_area :text, class:'form-contol' %>
  </p>
  <p>
    <%= f.label :category %><br>
    <%= f.select :category_id, Category.all.collect{|c| [c.name, c.id]},
        prompt: t('articles_page.choose_category') %>
  </p>
  <p>
    <%= f.label :photo %> <br>
    <%= f.file_field :photo, class:'form-contol' %>
  </p>
  <p>
    <%= f.label :music %> <br>
    <%= f.file_field :music, class:'form-contol' %>
  </p>
  <p>
    <%= f.label :movie %> <br>
    <%= f.file_field :movie, class:'form-contol' %>
  </p>
    <%= f.submit class:'btn btn-lg btn-success'%>
  </p>
</div> <!-- .field -->
<% end %>
<p>
  <%= link_to t('articles_page.back'), articles_path, class:'btn btn-md btn-info' %>
  <%= link_to t('articles_page.home'), welcome_index_path, class:'btn btn-md btn-primary' %>
</p>
</div>  
<div class="col"></div>
</div>
