<div class="row">
<div class="col"></div>
<div class="col-md-10">
<h1><%= t('search_page.list_of_articles')%></h1>
<table class="table table-hover table-striped table-responsive-xs">
<thead>
<tr>
  <th><%= t('search_page.title')%></th>
  <th><%= t('search_page.description')%></th>
  <% if current_user && current_user.admin? %>
  <th colspan="3"><%= t('search_page.editing_options')%></th>
  <% else %>
  <th colspan="1"><%= t('articles_page.show_articles')%></th>
  <% end %>
</tr>
</thead>
<% @articles.each do |article| %>
<tr>
  <td>
    <%= article.title %>
  </td>
  <td>
    <%= truncate(article.text, length: 75) %>
  </td>
  <td>
    <%= link_to t('articles_page.show'), article_path(article), class:'btn btn-sm btn-info' %>
  </td>
<% if current_user && current_user.admin? %>
  <td>
    <%= link_to t('articles_page.edit'), edit_article_path(article), class:'btn btn-sm btn-warning' %>
  </td>
  <td>
    <%= link_to t('articles_page.delete'), article_path(article),
        class: 'btn btn-sm btn-danger',
        method: :Delete,
        data: {confirm: t('articles_page.are_you_sure')}%>
  </td>
<% end %>
</tr>
<% end %>
</table>
<p>
  <%= link_to t('search_page.back_to_articles'), articles_path, class:'btn btn-md btn-warning' %>
</p>
</div>
<div class="col"></div>
</div>
