<div class="row">
<div class="col"></div>
<div class="col-md-7">
<% if @article.photo.present? %>
<%= image_tag(@article.photo.url(:original), class: "thumb-style") %>
<% else %>
<%= image_tag 'banner.png', style:"width:100%" %>
<% end %>
<p>
  <h2>TITLE:</h2>
  <strong><%= @article.title %></strong>
</p>
<p>
  <h3>ARTICLE:</h3>
  <%= @article.text %>
</p>
<p>
  <% if @article.music.present? %>
  <%= audio_tag(@article.music.url(:original), controls: true, class: "thumb-style") %>
  <% end %>
</p>
<p>
  <% if @article.movie.present? %>
  <%= video_tag(@article.movie.url(:original), controls: true,
      type: 'video/mp4', class: "thumb-style") %>
  <% end %>
</p>
<p>
  <%= @article.created_at.strftime('%A %-b %-d, %Y | %l:%M %p')%>
</p>
<hr>

<%= render 'comments/comment' %>

<% if current_user %>
<hr>
<%= render 'comments/form' %>
<% else %>
Please <%= link_to 'Sign In', new_session_path %> or
<%= link_to 'Sign Up', new_user_path %> to create a comment.
<% end %>

<p><br>
  <%= link_to 'Back', articles_path, class:'btn btn-md btn-info' %>
  <%= link_to 'Home', welcome_index_path, class:'btn btn-md btn-primary' %>
</p>
</div>
<div class="col"></div>
</div>
