<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
        <!-- nav_link, action, url, style -->
        <%= active_link_to t('header.home'), 'index', 'welcome', welcome_index_path, "active_nav-link" %>
        </li>
        <li class="nav-item">
        <%= active_link_to t('header.blog'), 'index', 'articles', articles_path, "active_nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to t('header.about'), pages_about_path, class:"active_nav-link" %>
        </li>

          <% if current_user && current_user.admin? %>
          <li class="nav-item">
            <%= active_link_to t('header.subscribers'), 'subscribers', 'index', subscribers_path, "active_nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to t('header.sign_out'), session_path('active'), method: :delete, class:"active_nav-link" %>
          </li>
          <li class="nav-link">
            <%= t('header.hi_admin') %> <%= current_user.userid %>
          </li>
          <% elsif current_user %>
          <li class="nav-item">
            <%= link_to t('header.sign_out'), session_path('active'), method: :delete, class:"active_nav-link" %>
          </li>
          <li class="nav-link">
            <%= t('header.hi') %>, <%= current_user.userid %>!
          </li>

          <% else %>
          <li class="nav-item">
            <%= link_to t('header.sign_in'), new_session_path, class:"active_nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to t('header.create_account'), new_user_path, class:"active_nav-link" %>
          </li>
          <% end %>
        </li>
      </ul>
        <div class="form-inline mt-2 mt-md-0">
          <div class="dropdown">
            <button class="dropbtn"> <%= t('header.language') %></button>
            <div class="dropdown-content">
              <a href="<%= root_path(locale: :en) %>" class="active_nav-link" hreflang="en-US">English</a>
              <a href="<%= root_path(locale: :ua) %>" class="active_nav-link" hreflang="en-US">Українська</a>
            </div>
          </div>
          <%= form_tag search_articles_path, method: :get do %>
            <%= text_field_tag :search, nil, placeholder: t('header.search_here'), class: "form-control mr-sm-2" %>
            <%= submit_tag t('header.search'), class: "btn btn-light my-2 my-sm-0" %>
          <% end %>
        </div>
    </div>
</nav>
