<div class="row">
<div class="col"></div>
<div class="col-md-10">
<h1><%= t('subscribers_page.list_of_subscribers') %></h1>
<table class="table table-hover table-striped table-responsive-xs">
<thead>
<tr>
  <th><%= t('subscribers_page.first_name') %></th>
  <th><%= t('subscribers_page.last_name') %></th>
  <th><%= t('subscribers_page.email') %></th>
  <th><%= t('subscribers_page.country') %></th>
  <th><%= t('subscribers_page.delete') %></th>
</tr>
</thead>
<% @subscribers.each do |subscriber| %>
<tr>
  <td>
    <%= subscriber.f_name %>
  </td>
  <td>
    <%= subscriber.l_name %>
  </td>
  <td>
    <%= subscriber.email %>
  </td>
  <td>
    <%= subscriber.country %>
  </td>

  <td>
    <%= link_to t('subscribers_page.delete'), subscriber_path(subscriber),
        class: 'btn btn-sm btn-danger delete',
        method: :Delete,
        data: {confirm: "Are you sure???", remote: true}%>
  </td>
</tr>
<% end %>
</table>
<p>
  <%= link_to t('subscribers_page.home'), welcome_index_path, class:'btn btn-md btn-warning' %>
</p>
</div>
<div class="col"></div>
</div>
