<p id="notice"><%= notice %></p>
<p>
  <strong> <%= t('category_page.name') %> </strong>
  <%= @category.name %>
</p>
<p>
  <strong> <%= t('category_page.desc') %> </strong>
  <%= @category.desc %>
</p>
<h3> <%= t('category_page.articles_under') %> </h3>
<% Article.where(category_id: @category.id).each do |article| %>
<li> <%= "#{article.title} | #{article.text}"  %> </li>
<% end %>
<br>

<%= link_to t('articles_page.back'), categories_path %> |
<%= link_to t('articles_page.edit'), edit_category_path(@category) %>
