<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @category.desc %>
</p>

<h3> Articles under this category: </h3>
<% Article.where(category_id: @category.id).each do |article| %>
<li> <%= "#{article.title} | #{article.text}"  %> </li>
<% end %>
<br>

<%= link_to 'Back', categories_path %> |
<%= link_to 'Edit', edit_category_path(@category) %>
